torch===2.2.0
torchaudio===2.2.0
librosa
asteroid_filterbanks
loralib==0.1.2
pandas==2.2.2
pyyaml
alive_progress
numpy==1.25.0
pydantic==2.8.2

# about-time==4.2.1
# absl-py==2.1.0
# accelerate==0.31.0
# adapters==0.2.1
# aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1713964853148/work
# aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
# alive-progress==3.1.5
# annotated-types @ file:///croot/annotated-types_1709542908624/work
# anyio @ file:///croot/anyio_1706220167567/work
# argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
# argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644553347904/work
# asteroid-filterbanks==0.4.0
# asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
# async-lru @ file:///croot/async-lru_1699554519285/work
# async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
# attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
# audioread==3.0.1
# Babel @ file:///croot/babel_1671781930836/work
# beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
# bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
# Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1648883617327/work
# certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1720457958366/work/certifi
# cffi @ file:///croot/cffi_1714483155441/work
# charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
# colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
# comm @ file:///croot/comm_1709322850197/work
# contourpy==1.2.1
# cycler==0.12.1
# dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
# datasets==2.19.2
# debugpy @ file:///croot/debugpy_1690905042057/work
# decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
# defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
# dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
# docstring_parser==0.16
# dp-transformers @ file:///home/bartek/PycharmProjects/llms_finetuning/dp-transformers
# evaluate==0.4.2
# exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
# executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
# fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
# ffmpeg-python==0.2.0
# filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1714422806336/work
# fonttools==4.53.1
# frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645481127/work
# fsspec==2024.3.1
# future==1.0.0
# gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455533097/work
# grapheme==0.6.0
# grpcio==1.65.1
# huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1717617551388/work
# idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
# ipykernel @ file:///croot/ipykernel_1705933831282/work
# ipython @ file:///croot/ipython_1704833016303/work
# ipywidgets @ file:///croot/ipywidgets_1709574692113/work
# jedi @ file:///tmp/build/80754af9/jedi_1644315229345/work
# Jinja2 @ file:///croot/jinja2_1716993405101/work
# joblib==1.4.2
# json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
# jsonschema @ file:///croot/jsonschema_1699041609003/work
# jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
# jupyter @ file:///croot/jupyter_1707947101020/work
# jupyter-console @ file:///croot/jupyter_console_1679999630278/work
# jupyter-events @ file:///croot/jupyter_events_1699282461638/work
# jupyter-lsp @ file:///croot/jupyter-lsp-meta_1699978238815/work
# jupyter_client @ file:///croot/jupyter_client_1699455897726/work
# jupyter_core @ file:///croot/jupyter_core_1698937308754/work
# jupyter_server @ file:///croot/jupyter_server_1699466442171/work
# jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1686870725608/work
# jupyterlab @ file:///croot/jupyterlab_1706802623017/work
# jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
# jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1709322880313/work
# jupyterlab_server @ file:///croot/jupyterlab_server_1699555425460/work
# kiwisolver==1.4.5
# lazy_loader==0.4
# librosa==0.10.2.post1
# llvmlite==0.43.0
# Markdown==3.6
# markdown-it-py==3.0.0
# MarkupSafe @ file:///croot/markupsafe_1704205993651/work
# matplotlib==3.9.1
# matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
# mdurl==0.1.2
# mistune @ file:///opt/conda/conda-bld/mistune_1661496219659/work
# more-itertools==10.3.0
# mpmath @ file:///croot/mpmath_1690848262763/work
# msgpack==1.0.8
# multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040698785/work
# multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1706514640841/work
# nbclient @ file:///croot/nbclient_1698934205032/work
# nbconvert @ file:///croot/nbconvert_1699022732553/work
# nbformat @ file:///croot/nbformat_1694616755618/work
# nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
# networkx @ file:///croot/networkx_1717597493534/work
# notebook @ file:///croot/notebook_1708029864779/work
# notebook_shim @ file:///croot/notebook-shim_1699455894279/work
# numba==0.60.0
# numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225380409/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=51131fd8fc130cd168aecaf1bc0ea85f92e8ffebf211772ceb16ac2e7f10d7ca
# opacus @ file:///home/conda/feedstock_root/build_artifacts/opacus_1707679099818/work
# openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
# opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1696448916724/work
# overrides @ file:///croot/overrides_1699371140756/work
# packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
# pandas==1.4.3
# pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
# parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
# peft==0.11.1
# pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
# pillow==10.4.0
# platformdirs @ file:///croot/platformdirs_1692205439124/work
# ply==3.11
# pooch==1.8.2
# prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
# prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
# protobuf==4.25.4
# prv-accountant==0.1.1.post1
# psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
# ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
# pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
# pyarrow @ file:///croot/pyarrow_1707330824290/work/python
# pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1700596371886/work
# pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
# pydantic @ file:///croot/pydantic_1709577974639/work
# pydantic_core @ file:///croot/pydantic-core_1709573961665/work
# pydub==0.25.1
# Pygments @ file:///croot/pygments_1684279966437/work
# pyparsing==3.1.2
# PyQt5==5.15.10
# PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
# PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
# python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
# python-json-logger @ file:///croot/python-json-logger_1683823803357/work
# pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
# pyvacy==0.0.32
# PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373428874/work
# pyzmq @ file:///croot/pyzmq_1705605076900/work
# qtconsole @ file:///croot/qtconsole_1709231153903/work
# QtPy @ file:///croot/qtpy_1700144840038/work
# referencing @ file:///croot/referencing_1699012038513/work
# regex @ file:///croot/regex_1696515298636/work
# requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
# rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
# rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
# rich==13.7.1
# rpds-py @ file:///croot/rpds-py_1698945930462/work
# safetensors @ file:///croot/safetensors_1708633833937/work
# scikit-learn==1.5.0
# scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1716470219380/work/dist/scipy-1.13.1-cp310-cp310-linux_x86_64.whl#sha256=a4ff22b6dc27b61196be51695f53f9b0676e7c1bc564872b51fc3c41b79ae80b
# seaborn==0.13.2
# Send2Trash @ file:///croot/send2trash_1699371139552/work
# sentencepiece==0.2.0
# shtab==1.7.1
# sip @ file:///croot/sip_1698675935381/work
# six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
# sniffio @ file:///croot/sniffio_1705431295498/work
# soundfile==0.12.1
# soupsieve @ file:///croot/soupsieve_1696347547217/work
# soxr==0.3.7
# stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
# sympy @ file:///croot/sympy_1701397643339/work
# tensorboard==2.17.0
# tensorboard-data-server==0.7.2
# terminado @ file:///croot/terminado_1671751832461/work
# textdistance==4.6.3
# threadpoolctl==3.5.0
# tiktoken==0.7.0
# tinycss2 @ file:///croot/tinycss2_1668168815555/work
# tokenizers==0.15.2
# tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
# torch==2.3.1
# torchaudio==2.3.1
# tornado @ file:///croot/tornado_1696936946304/work
# tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
# traitlets @ file:///croot/traitlets_1671143879854/work
# transformers==4.39.3
# triton==2.3.1
# trl==0.9.4
# typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717287769032/work
# tyro==0.8.4
# tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
# urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
# wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
# webencodings==0.5.1
# websocket-client @ file:///croot/websocket-client_1715878298792/work
# Werkzeug==3.0.3
# widgetsnbextension @ file:///croot/widgetsnbextension_1709322880396/work
# xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1696486308932/work
# yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1705508292061/work
